<h3>Invitation</h3>
<p><%= @invitation.collaboration.user.name %> has invited you to join <%= @invitation.collaboration.name %></p>
<p><%= link_to 'Claim', new_participation_path(invitation_id: @invitation.id) %></p>
<p><%= link_to 'Decline', invitation_path(@invitation), method: :delete %></p>
