<h3>Collaboration</h3>
<p>Name: <%= @collaboration.name %></p>
<p>Owner: <%= link_to @collaboration.user.name, user_path(@collaboration.user) %></p>
<p>Participants:</p>
<ul>
  <% @collaboration.participants.each do |user| %>
    <li><%= link_to user.name, user_path(user) %></li>
  <% end %>
</ul>
